# OSX pollution
.DS_Store

# NPM stuffs
node_modules
npm-debug.log

# NW.js build
build
release

# Core Logger dump
logs/*

# Builded Config
src/js/config.js

# GH App's settings
github.json

# dev sandbox
tmp.js
tmp
v8.log

# keep empty forlders
!.gitkeep
