
$btn-action-bkgd: unquote('linear-gradient(-180deg, #fff 0%, #f9f9f9 100%)');

.c-btn-action {
  background-image: #{$btn-action-bkgd};
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);
  display: inline-block;
  flex-basis: 24px;
  height: 24px;
}


$btn-default-bkgd: unquote('linear-gradient(-180deg, #fff 0%, #f9f9f9 100%)');

.c-btn {
  background-image: $btn-default-bkgd;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);
  border: none;
  border-radius: $border-radius-base;
  color: $color-label;
  display: inline-block;
  font-family: $font-family-display-semibold;
  font-size: $font-size-small;
  height: 20px;
  outline: none;
  padding: 0 10px;

  &[readonly] { opacity: .3 }

  & + .c-btn { margin-left: 10px }
}

$btn-submit-bkgd: unquote('linear-gradient(0deg, #0daaff 0%, #5ec2f7 100%)');

.c-btn--submit {
  background: #{$btn-submit-bkgd};
  border: 1px solid #3e8ab3;
  box-shadow: none;
  color: #fff;
  font-family: $font-family-display-bold;
  height: 22px;
}

.c-btn--large {
  height: 32px;
  font-size: $font-size-base;
  padding: 0 20px;
}
