
.l-list,
.l-homescreen {
  @include position( absolute, $chrome-min-height 0 $chrome-min-height 0);
  background: #fff;
}

//== Homescreen
//
//## login form and loading steps

.l-homescreen {
  z-index: ($z-list - 100)
}

.l-homescreen__header {
  border-bottom: 1px solid $color-border-light;
  height: 125px;

  div {
    line-height: 20px;
    text-align: center
  }

  img { margin-bottom: 10px }
}

.l-homescreen__footer {
  background: #fff;
  height: $homescreen-height;
  overflow: hidden;
  transition: background 400ms $ease;

  &.step-form {
    background: $color-bkgd;

    .l-homescreen__footer__wrapper { transform: translateY(0) }
  }

  &.step-login {
    .l-homescreen__footer__wrapper { transform: translateY( -$homescreen-height ) }
  }

  &.step-fetch {
    .l-homescreen__footer__wrapper { transform: translateY( -( $homescreen-height * 2 ) ) }
  }
}

.l-homescreen__footer__wrapper {
  height: ( $homescreen-height * $homescreen-steps );
  transition: transform 400ms $ease;
}

.l-homescreen__step {
  height: $homescreen-height
}

.l-homescreen__step__msg {
  line-height: 15px;
  text-align: center
}

.l-homescreen__step__title {}
.l-homescreen__step__txt {}

.l-loginform {

  > div {
    display: flex;
    flex-direction: column;
    width: 235px;
  }
}

.l-loginform__input {
  height: 35px;
  position: relative;

  input {
    @include placeholder { color: #cbcbcb }
    background: none;
    border: none;
    color: $color-title;
    font-family: $font-family-text-regular;
    font-size: $font-size-extra;
    height: 35px;
    width: 100%;
  }

  span {
    background: $color-border-light;
    display: block;
    height: 2px;

    &:before {
      background: #43bafa;
      content: '';
      display: block;
      height: 100%;
      transition: all 250ms $ease;
      width: 0;
    }
  }

  input:focus,
  input:valid {
    & + span:before { width: 100% }
  }
}

.l-loginform__input + .l-loginform__input {
  margin-bottom: 25px;
  margin-top: 10px;
}

//== List
//
//## Repositories and Issues list

.l-list {
  @include windowTransition();
  overflow-y: auto;
  z-index: $z-list;

  li {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    &.new {
      background: $color-highlight
    }
  }

  .c-issue__title {
    line-height: $font-size-large;
    margin-bottom: 7px;
  }
}

.l-list__repo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-list__repo__data {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-start;

  .c-avatar {
    flex-basis: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 8px
  }

  .c-repo__name { max-width: 180px }
  .s-repo__name--no-state { max-width: 290px }

  .i-repo { margin: 0 3px }
  .i-locked { margin-left: 5px }
}

.l-list__repo__state {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;

  & > * + * { margin-left: 8px }
}
