
$chromeHeader: unquote('linear-gradient(-180deg, #e6e6e6 0%, #d0d0d0 100%)');
$chromeFooter: unquote('linear-gradient(-180deg, #f4f3f4 0%, #d6d3D6 100%);');

// Main Window
// -----------------

.l-window {
  background: #fff;
  border-radius: $border-radius-window;
  position: relative;
  -webkit-filter: drop-shadow( $color-label 0 1px 12px);
  margin: 12px;
  // min-height: 300px;
  position: relative;
  width: 350px;
  z-index: 100
}

.l-window--arrow {
  @include windowTransition();
  height: 400px;

  &:before {
    border: 100px solid;
    border-color: transparent transparent #e6e6e6;
    content: '';
    left: 50%;
    position: absolute;
    top: -110px;
    transform: translateX(-50%);
    z-index: -1
  }
}

.l-window--arrow-close {
  .l-chrome--header {
    height: 55%;

    .l-chrome__content { top: -100% }
  }
  .l-chrome--footer {
    height: calc( 45% + 1px );

    .l-chrome__content { top: 100% }
  }
}


.l-window--new-issue { width: 445px }

.l-window__inner {
  @include position( absolute, 0 0 0 0 );
  border-radius: $border-radius-window;
  overflow: hidden;
}

// App chrome
// -----------------

.l-chrome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  height: $chrome-min-height;
  padding: 0 10px;
  position: absolute;
  transition: all 400ms $ease;
  right: 0;
  z-index: $z-chrome;
}

.l-chrome--header {
  background-image: #{$chromeHeader};
  border-bottom: 1px solid $color-border;
  border-radius: $border-radius-window $border-radius-window 0 0;
  top: 0;
}

.l-chrome--footer {
  bottom: 0;
  background: #f4f3f4;
  border-radius: 0 0 $border-radius-window $border-radius-window;
  border-top: 1px solid $color-border;

  &:after {
    @include position( absolute, 0 0 0 0);
    background: #f4f3f4;
    background-image: #{$chromeFooter};
    border-radius: 0 0 $border-radius-window $border-radius-window;
    content: '';
    display: block;
    height: 100%;
    opacity: 1;
  }
}

.l-chrome__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
  top: 0;
  transition: top 300ms $ease 150ms;
  width: 100%;
  z-index: 200
}

// Sections selector
// --------------------

.l-section-selector {
  text-shadow: 0px 1px 1px #fff;
}
