
$chromeHeader: unquote('linear-gradient(-180deg, #e6e6e6 0%, #d0d0d0 100%)');
$chromeFooter: unquote('linear-gradient(-180deg, #f4f3f4 0%, #d6d3D6 100%);');

// Main Window
// -----------------

.l-window {
  background: #fff;
  border-radius: $border-radius-window;
  position: relative;
  filter: drop-shadow( $color-label 0 1px 12px);
  // min-height: 300px;
  position: relative;
  transition: height 500ms $ease;
  width: 350px;
  z-index: 100
}

.l-window--arrow {
  height: 400px;

  &:before {
    border: 100px solid;
    border-color: transparent transparent #e6e6e6;
    content: '';
    left: 50%;
    position: absolute;
    top: -110px;
    transform: translateX(-50%);
    z-index: -1
  }
}

.l-window--new-issue {
  width: 445px
}

.l-window__inner {
  @include position( absolute, 0 0 0 0 );
  border-radius: $border-radius-window;
  overflow: hidden;
}

// App chrome
// -----------------

.l-chrome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  min-height: $chrome-min-height;
  padding: 0 10px;
  position: absolute;
  right: 0;
  z-index: $z-chrome;
}

.l-chrome--header {
  background-image: #{$chromeHeader};
  border-bottom: 1px solid $color-border;
  border-radius: $border-radius-window $border-radius-window 0 0;
  top: 0;
}

.l-chrome--footer {
  bottom: 0;
  background-image: #{$chromeFooter};
  border-radius: 0 0 $border-radius-window $border-radius-window;
  border-top: 1px solid $color-border;
}

// Sections selector
// --------------------

.l-section-selector {
  text-shadow: 0px 1px 1px #fff;
}
